* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.flex_justify_space_between {
    justify-content: space-between;
}
.btn-default {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    color: #ffffff;
    background-color: #FD4766;
    border: 2px solid #FD4766;
}
.btn-default.btn-opacity {
    background-color: transparent;
    border: 2px solid hsla(0,0%,100%,.2);
}
.btn-default:hover {
    color: #FD4766;
    background-color: transparent;
    
}
.btn-opacity:hover {
    color: #ffffff;
    background-color: #FD4766;
    border: 2px solid #FD4766;
}
h2.title {
    font-size: 50px;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 60px;
}
h2.title span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    border-radius: 4px;
    margin-bottom: 40px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description {
    font-size: 18px;
    line-height: 30px;
    color: rgba(29,29,36,.75);
    margin-bottom: 30px;
}
/* header_start */
#headerArea {
    position: absolute;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 11;
}
#headerArea .headerWapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#headerArea .headerWapper .headerLeft img {
    max-height: 60px;
}
#headerArea .headerWapper .headerRight,
#headerArea .headerWapper .headerRight .mainmenu {
    display: flex;
    align-items: center;
}
#headerArea .headerWapper .headerRight .mainmenu > li {
    margin: 0 15px;
    position: relative;
}
#headerArea .headerWapper .headerRight .mainmenu > li:hover > a {
    color: #FD4766;
}
#headerArea .headerWapper .headerRight .mainmenu > li a {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    color: #ffffff;
    display: inline-block;
    transition: 0.4s;
}
#headerArea .headerWapper .headerRight .mainmenu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    text-align: left;
    padding: 12px 0;
    border-radius: 4px;
    transition: 0.4s;
}
#headerArea .headerWapper .headerRight .mainmenu > li:hover .submenu {
    opacity: 1;
    visibility: visible;
}
#headerArea .headerWapper .headerRight .mainmenu > li > .submenu li a {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 20px;
    display: block;
    color: #1f1f25;
    margin: 0 10px;
    border-radius: 3px;
}
#headerArea .headerWapper .headerRight .mainmenu > li > .submenu li:hover a {
    color: #FD4766;
    background: rgba(249, 0, 77, 0.07);
}
#headerArea .headerWapper .headerRight .headerBtn {
    margin-left: 50px;
}
#headerArea .headerWapper .headerRight .humbergerMenu {
    display: none;
}
/* header_end */

/* carousel_start */
.carousel-item {
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.carousel-item.img01 {
    background: url(../images/bg-image-22.jpg) no-repeat;
}
.carousel-item.img02 {
    background: url(../images/bg-image-23.jpg) no-repeat;
}
.carousel-item.img03 {
    background: url(../images/bg-image-24.jpg) no-repeat;
}
.carousel-item.img04 {
    background: url(../images/bg-image-20.jpg) no-repeat;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption .title {
    font-size: 100px;
    font-weight: 900;
    color: #ffffff;
}
.carousel-caption .description {
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    padding: 0 5%;
    color: #ffffff;
}
.carousel-caption .slide-btn {
    margin-top: 50px;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    transition: 0.4s;
}
.carousel-control-next {
    right: 50px;
}
.carousel-control-next:hover {
    right: 30px;
    background-color: #FD4766;
    border: 2px solid #FD4766;
}
.carousel-control-prev {
    left: 50px;
}
.carousel-control-prev:hover {
    left: 30px;
    background-color: #FD4766;
    border: 2px solid #FD4766;
}
.carousel-indicators {
    display: flex;
    align-items: center;
    bottom: 50px;
}
.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid transparent;
    transition: .6s ease;
}
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border: 2px solid #FD4766;
    background-color: transparent;
}
/* carousel_end */

/* service_start */
#service {
    padding: 120px 0;
    background-color: #ffffff;
}
#service h2.title,
#service .description {
    text-align: center;
}
#service .row .col_inner {
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
#service .row .col_inner:hover {
    transform: translateY(-5px);
}
#service .row .col_inner .icon {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 23px;
}
#service .row .col_inner .icon svg {
    stroke-width: 1 !important;
    width: 47px;
    height: 47px;
}
#service .row > div:nth-child(1) .icon {
    color: #FD4766;
}
#service .row > div:nth-child(2) .icon {
    color: #337DFF;
}
#service .row > div:nth-child(3) .icon {
    color: #12d8df;
}
#service .row > div:nth-child(4) .icon {
    color: #59C98D;
}
#service .row > div:nth-child(5) .icon {
    color: #6F41F6;
}
#service .row > div:nth-child(6) .icon {
    color: #357FF6;
}
#service .row .col_inner .content h3.title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
    color: #1f1f25;
}
#service .row .col_inner .content p {
    font-size: 18px;
    color: rgba(29,29,36,.75);
    line-height: 1.67;
}
/* service_end */

/* project_start */
#project {
    padding: 120px 0;
    background: url(../images/bg-image-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
#project h2.title,
#project .description {
    text-align: center;
}
#project .row .col_inner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.3s;
}
#project .row .col_inner .thumbnail img {
    width: 100%;
    height: 100%;
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
#project .row .col_inner:hover .thumbnail img {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
#project .row .col_inner::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
}
#project .row .col_inner::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #FD4766 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
    opacity: 0;
}
#project .row .col_inner:hover::after,
#project .row .col_inner:hover::before {
    opacity: 1;
}
#project .row .col_inner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    width: 100%;
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    z-index: 2;
}
#project .row .col_inner:hover {
    transform: translateY(-10px);
}
#project .row .col_inner:hover .content {
    bottom: 60px;
}
#project .row .col_inner .content .title {
    color: #ffffff;
    font-size: 30px;
}
#project .row .col_inner .content .title span {
    color: #ffffff;
    opacity: 0.7;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#project .row .col_inner .content p {
    font-size: 18px;
    list-style: 1.67;
    color: #ffffff;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    margin-top: 10px;
    transform: translateY(20px);
    line-height: 1.5em;
    max-width: 80%;
    transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
    height: 62px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#project .row .col_inner:hover .content p {
    opacity: 0.7;
}
#project .btn_project {
    margin-top: 60px;
    text-align: center;
}
/* project_end */

/* about_start */
#about {
    padding: 120px 0;
}
#about .nav {
    border: 1px solid #E6E6E6;
    border-radius: 50px;
    width: 91.6%;
}
#about .nav-pills .nav-link.active, 
#about .nav-pills .show>.nav-link {
    background-color: #FD4766;
    color: #ffffff;
}
#about .nav-pills .nav-link {
    border-radius: 50px;
}
#about .nav-link {
    padding: 0.83333em 34px;
    color: rgba(29,29,36,.75);
    font-size: 16px;
    font-weight: 600;
}
#about .thumbnail img {
    border-radius: 8px;
}
#about .tab-content h3 {
    font-size: 24px;
}
#about .tab-content ul li {
    color: #7e7e7e;
    font-size: 16px;
    margin-bottom: 10px;
}
#about .tab-content ul li svg {
    color: #FD4766;
    margin-right: 5px;
}
#about .tab-content .tab-pane {
    font-weight: 300;
    color: #717173;
    font-size: 18px;
    line-height: 30px;
}
/* about_end */

/* testimonial_start */
#testimonial {
    padding: 120px 0;
    background-color: #f9f9f9;
}
#testimonial .row {
    align-items: center;
}
#testimonial .nav {
    max-width: 510px;
    margin: 0 auto;
    justify-content: center;
}
#testimonial .nav li {
    width: 33.333333%;
}
#testimonial .nav li a img {
    border-radius: 6px;
    width: 100%;
    min-height: 140px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.4s;
}
#testimonial .nav li a.active img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    opacity: 1;
}
.nav-link {
    padding: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
#testimonial .tab-content .description {
    font-size: 30px;
    line-height: 48px;
    color: #18181b;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -16px;
    position: relative;
    z-index: 2;
}
#testimonial .tab-content .description::before {
    position: absolute;
    content: "";
    top: -50px;
    left: -75px;
    background: url(../images/image-1.png) no-repeat;
    width: 169px;
    height: 100%;
    z-index: -1;
}
#testimonial .tab-content .author-info {
    font-size: 18px;
    line-height: 50px;
    color: #8c8c8c;
    font-weight: 300;
    margin-bottom: 0;
}
#testimonial .tab-content .author-info span {
    color: #FD4766;
    font-weight: 500;
}
/* testimonial_end */

/* blog_start */
#blog {
    padding: 120px 0;
}
#blog h2.title,
#blog .description {
    text-align: center;
}
#blog .row .col_inner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.3s;
}
#blog .row .col_inner .thumbnail img {
    width: 100%;
    height: 100%;
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
#blog .row .col_inner:hover .thumbnail img {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
#blog .row .col_inner::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #FD4766 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
    opacity: 0;
}
#blog .row .col_inner::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
}
#blog .row .col_inner:hover::after,
#blog .row .col_inner:hover::before {
    opacity: 1;
}
#blog .row .col_inner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    width: 100%;
    transition: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    z-index: 2;
}
#blog .row .col_inner:hover {
    transform: translateY(-10px);
}
#blog .row .col_inner:hover .content {
    bottom: 60px;
}
#blog .row .col_inner .content .title {
    color: #ffffff;
    font-size: 30px;
    text-align: left;
}
#blog .row .col_inner .content .title span {
    color: #ffffff;
    opacity: 0.7;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
#blog .row .col_inner .content .btn_Blog_Inner {
    opacity: 0;
    position: absolute;
    bottom: -30px;
    margin-top: 10px;
    transform: translateY(20px);
    line-height: 1.5em;
    max-width: 80%;
    transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
    height: 62px;
    text-overflow: ellipsis;
}
#blog .row .col_inner .content .btn_Blog_Inner a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    transform: translateY(0);
    color: #ffffff;
    border: 2px solid hsla(0,0%,100%,.2);
    border-radius: 4px;
    padding: 8px 23px 9px;
    position: relative;
    transition: 0.4s;
    z-index: 2;
}
#blog .row .col_inner .content .btn_Blog_Inner a:hover {
    transform: translateY(-3px);
    background-color: #FD4766;
    border: 2px solid #FD4766;
}
#blog .row .col_inner:hover .content .btn_Blog_Inner {
    opacity: 0.7;
}
#blog .btnBlog {
    margin-top: 60px;
    text-align: center;
}
/* blog_end */

/* brand_start */
#brand {
    padding: 120px 0;
    background-color: #f9f9f9;
}
#brand h2.title,
#brand .description {
    text-align: center;
}
#brand .brand_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}
#brand .brand_list li {
    width: 33.333333%;
    text-align: center;
    height: 214px;
    line-height: 214px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 0.3s;
}
#brand .brand_list li:hover {
    background-color: #FD4766;
    border-radius: 6px;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
#brand .brand_list li img {
    max-height: 110px;
    max-width: 150px;
}
/* brand_end */

/* footer_start */
#footerArea {
    background-color: #010001;
}
#footerArea .im_call_to_action_area {
    position: relative;
    padding: 70px 0;
}
#footerArea .im_call_to_action_area::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1230px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
#footerArea h2 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}
#footerArea .btn_footer {
    text-align: right;
}
#footerArea .btn_footer a {
    padding: 26px 60px;
}
#footerArea .footer_wrapper {
    padding: 70px 0;
}
#footerArea .footer_wrapper .col_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#footerArea .footer_wrapper .logo a img {
    max-height: 60px;
}
#footerArea .footer_wrapper p {
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 0;
}
#footerArea .footer_wrapper li,
#footerArea .footer_wrapper a {
    position: relative;
    color: #757575;
    transition: 0.2s;
}
#footerArea .footer_wrapper a:hover {
    color: #FD4766;
}
#footerArea .footer_wrapper a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
    transition: 0.3s;
}
#footerArea .footer_wrapper a:hover::after {
    width: 100%;
}
#footerArea .footer_wrapper h3 {
    font-size: 20px;
    font-weight: 500px;
    color: #ffffff;
    margin-bottom: 30px;
}
#footerArea .footer_wrapper ul.ft-link li + li {
    margin-top: 13px;
}
#footerArea .footer_wrapper ul.ft-link li a {
    font-size: 16px;
    color: #757575;
    padding: 5px 0;
    transition: 0.2s;
}
#footerArea .footer_wrapper ul.ft-link li a:hover {
    color: #FD4766;
}
#footerArea .footer_wrapper ul.social_share {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
#footerArea .footer_wrapper ul.social_share li {
    margin: 6px;
}
#footerArea .footer_wrapper ul.social_share li a {
    display: inline-block;
    width: 30px;
    height: auto;
    text-align: left;
    line-height: inherit;
    font-size: 16px;
    transition: 0.3s;
}
#footerArea .footer_wrapper ul.social_share li a::after {
    content: none;
}
#footerArea .footer_wrapper ul.social_share li a:hover {
    transform: translateY(-3px);
    color: #ffffff;
}
/* footer_end */
.cd-top {
    background: url(../images/cd-top-arrow.svg) no-repeat center 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    background-color: hsla(var(--cd-color-3-h),var(--cd-color-3-s),var(--cd-color-3-l),0.8);
    border-radius: 50px;
}